
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Singleton</title>
</head>
<body>
    <h4>@ViewBag.GuidComum</h4>
    <h4>@ViewBag.GuidSingleton</h4>
</body>
</html>
